nav{
    padding-top : 0px;
    padding-bottom : 0px;
    
    background-color: #e3f2fd;
    height: 5rem ;
    display: flex;
}
nav *{
    margin-left: 0.25rem;
    margin-right:0.25rem;

    justify-content: space-between;
    max-height: 4.75rem ;
    align-items: center;
}