<nav class="navbar navbar-light bg1">
    <div>
        <input type="checkbox"  class="openSidebarMenu" id="openSidebarMenu" [(ngModel)]="isChecked">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div>
                <div class="spinner bg2 diagonal part-1"></div>
                <div class="spinner bg2 horizontal"></div>
                <div class="spinner bg2 diagonal part-2"></div>
            </div>
        </label>
        <div id="sidebarMenu">
            <div class="main-content-wrapper" *ngIf="isConnected(); else noGroup">
                <a class="bg1-lighter" *ngFor="let group of groups" [routerLink]="'/group/'+group.id" (click)="isChecked = false;">{{group.name}}</a>
            </div>
            <ng-template #noGroup>
                <div class="main-content-wrapper">
                    <a class="bg1-lighter" (click)="isChecked = false;">Public</a>
                </div>
            </ng-template>
        </div>
        
        <a class="logo" routerLink="/">
            <img src="../../../../assets/images/logo21.svg">
        </a>
    </div>
    <div>
        <button class="btn btn-primary" *ngIf="isConnected()" routerLink="profil">{{getName()}}</button>
    </div>
    <div>
        <button class="btn btn-primary" *ngIf="!isConnected()" routerLink="login">Se connecter</button>
        <button class="btn btn-primary" *ngIf="isConnected()" (click)="logout()">Se déconnecter</button>
    </div>
</nav>



