/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.container{
    padding: 50px;
    width: 25rem;
}
.btn{
    border: 0px;
    color: #000;
}
.bg1{
    background-color: #e0f0f9;
}
.btn,
.btn-primary,
.bg2{
    background-color: #b0bfda;
}
app-sidebar{
    background-color: #ee9999;
}