/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.container{
    padding: 50px 10% 50px 10%;
    min-width: 25rem;
}
.btn{
    border: 0px;
    color: #000;
}
.bg1{
    background-color: #C3E1EB;
}
.bg1-lighter{
    background-color: #E1F5FA;
}
.btn,
.btn-primary,
.bg2{
    background-color: #A7C8DB;
}
.bg-success{
    background-color: #A7DBBE;
}
.bg-fail{
    background-color: #DBAFB0;
}

